body {
  text-align: center;
  background-color: #343a40;
  color: #87ceeb;
}

.controled-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.text-error {
  color: #ff4d4d;
}

.text-sucsess {
  color: #28a745; 
}

.x-button {
  cursor: pointer;
}